doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/libs/jquery.min.js')
    script(src='/javascripts/libs/underscore.min.js')
    script(src='/javascripts/libs/crafty.js')

    script(src='/javascripts/app.js')
    script(src='/javascripts/extra.js')
  
  body
    #main-container
      nav.navbar.navbar-inverse(role="navigation")
        .navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target=".navbar-ex8-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand#title
            img(src="/images/game-logo.png")

        .navbar-collapse.navbar-ex8-collapse.collapse.col-md-6
          ul.nav.navbar-nav
            li.twitter
              a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://tangosource.2013.nodeknockout.com/", data-text="I'm voting for Hackers vs. Zombies", data-via="tangosource") Tweet
            li
              a(href="/") Home
            li
              a(href="/login") Login
            li
              a(href="/game") Game
            li
              a(href="/credits") Credits
            li
              iframe.votes(src="http://nodeknockout.com/iframe/tangosource", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)

        .col-lg-2.pull-rigth.logo-tango
          button.play.btn.sound(type='submit')
            span.note
          a(href="http://tangosource.com")
            img(src="/images/ts-logo.png")

      block content
      #my-root-footer


    footer#footer
      p 
        | Hackers vs Zombies / 
        a(href="http://tangosource.com") TangoSource 
        | / 2013
    
    script(src='/javascripts/libs/twitter.js')
