doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/libs/jquery.min.js')
    script(src='/javascripts/libs/underscore.min.js')
    script(src='/javascripts/libs/crafty.js')

    script(src='/javascripts/app.js')
  
  body
    iframe(src="http://nodeknockout.com/iframe/tangosource", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
    block content
