@import url(../css/bootstrap.css);
@import url(../css/bootstrap-theme.css);
@import url(../css/fonts.css);
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.sass */
body {
  font: 14px "volter", Helvetica, Arial, sans-serif;
  background: #302c28 url("../../images/bg.jpg") repeat;
  min-width: 1088px;
  overflow: auto;
  min-width: 1200px;
}

/* line 15, ../sass/style.sass */
.navbar-inverse.navbar {
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}
/* line 19, ../sass/style.sass */
.navbar-inverse.navbar .logo-tango {
  float: right;
  text-align: right;
  padding-top: 31px;
}

/* line 25, ../sass/style.sass */
.navbar-inverse .navbar-collapse {
  padding-top: 30px;
  width: 34%;
  float: left;
}

/* line 30, ../sass/style.sass */
.votes {
  margin-top: 12px;
  margin-left: 15px;
}

/* line 34, ../sass/style.sass */
#hand-top {
  background: #302c28 url("../../images/hand-bg.jpg") no-repeat;
  background-size: 100%;
  overflow: hidden;
  position: fixed;
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 45, ../sass/style.sass */
h1 {
  font-size: 24px;
}

/* line 48, ../sass/style.sass */
p {
  font-size: 18px;
}

/* line 51, ../sass/style.sass */
a {
  color: #908b6c;
}

/* line 54, ../sass/style.sass */
.btn-primary {
  background: #262f1e;
  border-color: #1a1e16;
}
/* line 57, ../sass/style.sass */
.btn-primary:hover {
  background: #1a1e16;
  border-color: #1a1e16;
}

/* line 61, ../sass/style.sass */
#intro-landing {
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  background: #a2a18e url("../../images/info-bg.jpg") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  margin: 425px 0 -30px;
  min-height: 400px;
  padding: 40px;
  text-align: center;
  line-height: 44px;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 360px;
  white-space: nowrap;
}
/* line 75, ../sass/style.sass */
#intro-landing .btn {
  margin-top: 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 78, ../sass/style.sass */
#intro-landing .rpg-button {
  background: #463627;
  border: 2px solid #231c15;
  box-shadow: inset -2px 2px 1px #655b52, inset 2px -2px 1px #36281b;
  padding: 12px 25px;
}
/* line 83, ../sass/style.sass */
#intro-landing .rpg-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 85, ../sass/style.sass */
#intro-landing .container-controls {
  overflow: hidden;
  float: right;
}
/* line 89, ../sass/style.sass */
#intro-landing .container-controls .rpg-button.prev, #intro-landing .container-controls .rpg-button.next {
  padding: 0px 20px;
}
/* line 91, ../sass/style.sass */
#intro-landing .step1 {
  display: inline-block;
  width: 100%;
}
/* line 94, ../sass/style.sass */
#intro-landing .step2 {
  display: inline-block;
  width: 100%;
}

/* line 99, ../sass/style.sass */
#intro-landing .blood {
  background: #463627 url("../../images/blood-btn.png") no-repeat;
  box-shadow: inset -2px 0px 1px #655b52, inset 2px -2px 1px #36281b;
}

/* line 103, ../sass/style.sass */
.next, .prev {
  float: right;
  background: #bcb99e;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  line-height: 50px;
  padding-left: 4px;
  cursor: pointer;
}

/* line 113, ../sass/style.sass */
.prev {
  float: left;
  line-height: 49px;
  padding-left: 1px;
}

/* line 119, ../sass/style.sass */
footer#footer {
  background: black;
  height: 60px;
  text-align: center;
  padding-top: 17px;
  color: #cdccbc;
  margin-bottom: -60px;
}

/* line 10, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main-container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -60px;
}
/* line 18, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main-container #my-root-footer {
  height: 60px;
}

/* line 20, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 60px;
}
