@import "compass/reset"
@import "compass/css3"
@import "../css/bootstrap.css"
@import "../css/bootstrap-theme.css"
@import "../css/fonts.css"

body 
  font: 14px "volter", Helvetica, Arial, sans-serif
  background: #302c28 url('../../images/bg.jpg') repeat
  min-width: 1088px
  overflow: auto
  min-width: 1200px
  
.navbar-inverse.navbar
  background: rgba(0,0,0,0.4)
  margin-bottom: 0

  .logo-tango
    float: right
    text-align: right
    padding-top: 31px
    

.navbar-inverse .navbar-collapse
  padding-top: 30px
  width: 26%
  float: left

.votes
  margin-top: 12px
  margin-left: 15px
  
a 
  color: #00B7FF
  
