@import "compass/reset"
@import "compass/css3"
@import "../css/bootstrap.css"
@import "../css/bootstrap-theme.css"

body 
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

