extends ../layout

block content
  .content-block#credits
    h1 Credits

    p.intro Thanks to 
      a(href="http://www.heatherp.com/") Heather Poon 
      | for working with us to provide open source art our game. It is covered under the 
      a(href="http://creativecommons.org/licenses/by-sa/3.0/") Creative Commons Attribution Share Alike 3.0 license.

    h2 Music:
    ul
      li 
        p "Evening of Chaos" Kevin MacLeod (incompetech.com) 
        p Licensed under Creative Commons: By Attribution 3.0
        a(href="http://creativecommons.org/licenses/by/3.0/") http://creativecommons.org/licenses/by/3.0/

      li
        p "Night of Chaos" Kevin MacLeod (incompetech.com)
        p Licensed under Creative Commons: By Attribution 3.0
        a(href="http://creativecommons.org/licenses/by/3.0/") http://creativecommons.org/licenses/by/3.0/

      li
        p "Day of Chaos" Kevin MacLeod (incompetech.com) 
        p Licensed under Creative Commons: By Attribution 3.0
        a(href="http://creativecommons.org/licenses/by/3.0/") http://creativecommons.org/licenses/by/3.0/
        
    h2 Sound Effects: 
    ul
      li
        a(href="http://www.freesound.org/people/GregsMedia/sounds/150137/") http://www.freesound.org/people/GregsMedia/sounds/150137/
      li
        a(href="http://www.freesound.org/people/gcmax/sounds/86808/") http://www.freesound.org/people/gcmax/sounds/86808/
      li
        a(href="http://www.freesound.org/people/knufds/sounds/78776/") http://www.freesound.org/people/knufds/sounds/78776/
        


