extends ../layout

block content
  script(src='/javascripts/app/controllers/socketController.js')
  script(src='/javascripts/app/controllers/gameController.js')
    
  input#game(type='hidden', value='ready')

  h3 Run for you life!!!
  #game-area
