extends ../layout

block content
  #hand-top
  #intro-landing.row
    .step.step1
      h1 ZOMBIES HAVE INVADED JOYENT
      p  It figures, right? All we wanted to do was write some code, but no, the zombie apocalypse just had to happen. 
      p Try to escape the Joyent offices in time, before the person in control of these zombies wins.
      p Watch out! If you get caught, you're not making it out of here alive.
      
      a.btn.btn-primary.rpg-button(href="/login") Login
      .container-controls
        // .next.btn-primary.btn.rpg-button >

    // .step.step2
    //   h1 THIS APPLICATION IS ABOUT
    //   p  It is a long established fact that a reader will be distracted by the readable 
    //   p its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
    //   p as opposed to using 'Content here, content here', making it look like readable English.

    //   button.btn.btn-primary.rpg-button Login
    //   .container-controls
    //     .prev.btn-primary.btn.rpg-button <

  #my-root-footer

